---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MQ_KEY>&location=Arlington
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 18:56:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Arlington"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Arlington","adminArea5Type":"City","adminArea4":"Tarrant
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040341","unknownInput":"","type":"s","latLng":{"lat":32.735594,"lng":-97.10711},"displayLatLng":{"lat":32.735594,"lng":-97.10711},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MQ_KEY>&type=map&size=225,160&locations=32.735594,-97.10711|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1660194663"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Arlington","adminArea5Type":"City","adminArea4":"Arlington
        County","adminArea4Type":"County","adminArea3":"VA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=minutely,alerts&lat=32.735594&lon=-97.10711&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.7356,"lon":-97.1071,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1610996177,"sunrise":1610976593,"sunset":1611013658,"temp":60.76,"feels_like":48.04,"pressure":1014,"humidity":39,"dew_point":35.69,"uvi":3.12,"clouds":90,"visibility":10000,"wind_speed":17.27,"wind_deg":160,"wind_gust":25.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610992800,"temp":60.76,"feels_like":50.23,"pressure":1014,"humidity":39,"dew_point":35.69,"uvi":3.05,"clouds":90,"visibility":10000,"wind_speed":13.38,"wind_deg":185,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610996400,"temp":60.46,"feels_like":50.86,"pressure":1014,"humidity":48,"dew_point":40.69,"uvi":3.12,"clouds":46,"visibility":10000,"wind_speed":13.33,"wind_deg":189,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611000000,"temp":62.04,"feels_like":53.33,"pressure":1013,"humidity":54,"dew_point":45.23,"uvi":2.49,"clouds":19,"visibility":10000,"wind_speed":13.47,"wind_deg":191,"weather":[{"id":801,"main":"Clouds","description[...]
