---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MQ_KEY>&location=New%20Bern,%20NC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 19:45:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"New
        Bern, NC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        Bern","adminArea5Type":"City","adminArea4":"Jones County","adminArea4Type":"County","adminArea3":"NC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022244","unknownInput":"","type":"s","latLng":{"lat":35.108318,"lng":-77.04612},"displayLatLng":{"lat":35.108318,"lng":-77.04612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MQ_KEY>&type=map&size=225,160&locations=35.108318,-77.04612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1093231298"}]}]}'
  recorded_at: Sun, 17 Jan 2021 19:45:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=minutely,alerts&lat=35.108318&lon=-77.04612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.1083,"lon":-77.0461,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610912734,"sunrise":1610885710,"sunset":1610922071,"temp":51.33,"feels_like":43.95,"pressure":1012,"humidity":40,"dew_point":28.33,"uvi":0.97,"clouds":1,"visibility":10000,"wind_speed":5.75,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1610910000,"temp":51.33,"feels_like":42.67,"pressure":1012,"humidity":40,"dew_point":28.33,"uvi":1.8,"clouds":1,"visibility":10000,"wind_speed":8.01,"wind_deg":216,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610913600,"temp":50.58,"feels_like":41.92,"pressure":1012,"humidity":45,"dew_point":30.27,"uvi":0.97,"clouds":17,"visibility":10000,"wind_speed":8.52,"wind_deg":221,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1610917200,"temp":49.21,"feels_like":40.84,"pressure":1012,"humidity":50,"dew_point":31.46,"uvi":0.34,"clouds":29,"visibility":10000,"wind_speed":8.37,"wind_deg":236,"weather":[{"id":802,"main":"Clouds","description":"scatt[...]
