---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=LX5IfgEnTwQEdr3dropSnVYtAYL3RlPD&location=New%20Bern,%20NC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 05:03:20 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"New
        Bern, NC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        Bern","adminArea5Type":"City","adminArea4":"Jones County","adminArea4Type":"County","adminArea3":"NC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022244","unknownInput":"","type":"s","latLng":{"lat":35.108318,"lng":-77.04612},"displayLatLng":{"lat":35.108318,"lng":-77.04612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LX5IfgEnTwQEdr3dropSnVYtAYL3RlPD&type=map&size=225,160&locations=35.108318,-77.04612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-260643849"}]}]}'
  recorded_at: Sun, 17 Jan 2021 05:03:20 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=49d0b1a4065bd2d81be9fec5a61f3b6f&exclude=minutely,alerts&lat=35.108318&lon=-77.04612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.1083,"lon":-77.0461,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610859800,"sunrise":1610885710,"sunset":1610922071,"temp":37.81,"feels_like":28.4,"pressure":1012,"humidity":65,"dew_point":27.68,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":240,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1610859600,"temp":37.81,"feels_like":29.28,"pressure":1012,"humidity":65,"dew_point":27.68,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.65,"wind_deg":251,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1610863200,"temp":37.35,"feels_like":29.55,"pressure":1012,"humidity":72,"dew_point":29.5,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.8,"wind_deg":255,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1610866800,"temp":36.37,"feels_like":28.98,"pressure":1013,"humidity":79,"dew_point":30.67,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.4,"wind_deg":256,"weather":[{"id":800,"main":"Clear","description":"clear
        sky",[...]
