---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MQ_KEY>&location=Killeen,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 19:45:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Killeen,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Killeen","adminArea5Type":"City","adminArea4":"Bell
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040223","unknownInput":"","type":"s","latLng":{"lat":31.11781,"lng":-97.731129},"displayLatLng":{"lat":31.11781,"lng":-97.731129},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MQ_KEY>&type=map&size=225,160&locations=31.11781,-97.731129|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2092749331"}]}]}'
  recorded_at: Sun, 17 Jan 2021 19:45:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=minutely,alerts&lat=31.11781&lon=-97.731129&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":31.1178,"lon":-97.7311,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1610912733,"sunrise":1610890156,"sunset":1610927555,"temp":60.28,"feels_like":53.33,"pressure":1020,"humidity":27,"dew_point":26.87,"uvi":2.47,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":40,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1610910000,"temp":60.28,"feels_like":50.88,"pressure":1020,"humidity":27,"dew_point":26.87,"uvi":3.06,"clouds":1,"visibility":10000,"wind_speed":8.97,"wind_deg":8,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610913600,"temp":59.92,"feels_like":51.49,"pressure":1020,"humidity":33,"dew_point":30.92,"uvi":2.47,"clouds":1,"visibility":10000,"wind_speed":8.3,"wind_deg":19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610917200,"temp":59.72,"feels_like":51.55,"pressure":1018,"humidity":36,"dew_point":32.76,"uvi":1.53,"clouds":0,"visibility":10000,"wind_speed":8.34,"wind_deg":14,"weather":[{"id":800,"main":"Clear","description":"clear
       [...]
