---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<FLICKR_KEY>&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&safe_search=1&text=Killeen,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":6522,"perpage":1,"total":"6522","photo":[{"id":"50841175836","owner":"53158134@N02","secret":"94e3d109de","server":"65535","farm":66,"title":"N42RA
        (Rio Airways)","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 17 Jan 2021 21:31:48 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<FLICKR_KEY>&format=json&method=flickr.people.getInfo&nojsoncallback=1&user_id=53158134@N02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"person":{"id":"53158134@N02","nsid":"53158134@N02","ispro":1,"can_buy_pro":0,"iconserver":"5294","iconfarm":6,"path_alias":"steelhead2010","has_stats":"1","pro_badge":"standard","expire":"0","username":{"_content":"Steelhead
        2010"},"realname":{"_content":"Reinhard Zinabold"},"location":{"_content":"Ancaster\/Ontario,
        Canada"},"timezone":{"label":"Eastern Time (US & Canada)","offset":"-05:00","timezone_id":"EST5EDT"},"description":{"_content":""},"photosurl":{"_content":"https:\/\/www.flickr.com\/photos\/steelhead2010\/"},"profileurl":{"_content":"https:\/\/www.flickr.com\/people\/steelhead2010\/"},"mobileurl":{"_content":"https:\/\/m.flickr.com\/photostream.gne?id=53137786"},"photos":{"firstdatetaken":{"_content":"1980-01-01
        00:00:17"},"firstdate":{"_content":"1282265112"},"count":{"_content":32638}}},"stat":"ok"}'
  recorded_at: Sun, 17 Jan 2021 21:31:48 GMT
recorded_with: VCR 6.0.0
