---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MQ_KEY>&location=New%20Bern,%20NC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 21:32:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"New
        Bern, NC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        Bern","adminArea5Type":"City","adminArea4":"Jones County","adminArea4Type":"County","adminArea3":"NC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022244","unknownInput":"","type":"s","latLng":{"lat":35.108318,"lng":-77.04612},"displayLatLng":{"lat":35.108318,"lng":-77.04612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MQ_KEY>&type=map&size=225,160&locations=35.108318,-77.04612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1740468554"}]}]}'
  recorded_at: Tue, 19 Jan 2021 21:32:49 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=daily,current,minutely,alerts&lat=35.108318&lon=-77.04612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.1083,"lon":-77.0461,"timezone":"America/New_York","timezone_offset":-18000,"hourly":[{"dt":1611090000,"temp":57.02,"feels_like":48.97,"pressure":1024,"humidity":33,"dew_point":28.67,"uvi":0.37,"clouds":1,"visibility":10000,"wind_speed":7.02,"wind_deg":225,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611093600,"temp":53.28,"feels_like":46.72,"pressure":1024,"humidity":46,"dew_point":33.04,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.57,"wind_deg":209,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611097200,"temp":47.64,"feels_like":41.29,"pressure":1026,"humidity":59,"dew_point":34.03,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.48,"wind_deg":206,"weather":[{"id":800,"main":"Clear","description":"clear
        sk[...]
