---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=49d0b1a4065bd2d81be9fec5a61f3b6f&exclude=minutely,alerts&lat=31.1178&lon=-97.7311&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":31.1178,"lon":-97.7311,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1610853133,"sunrise":1610803769,"sunset":1610841102,"temp":47.82,"feels_like":40.75,"pressure":1017,"humidity":34,"dew_point":22.1,"uvi":0,"clouds":1,"visibility":3219,"wind_speed":3.83,"wind_deg":125,"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50n"}]},"hourly":[{"dt":1610852400,"temp":47.82,"feels_like":40.75,"pressure":1017,"humidity":34,"dew_point":22.1,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.83,"wind_deg":125,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1610856000,"temp":46.89,"feels_like":38.98,"pressure":1018,"humidity":44,"dew_point":26.82,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":6.31,"wind_deg":167,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1610859600,"temp":46.33,"feels_like":38.77,"pressure":1019,"humidity":50,"dew_point":29.1,"uvi":0,"clouds":23,"visibility":10000,"wind_speed":6.26,"wind_deg":175,"weather":[{"id":801,"main":"Clouds","description":"few
        clo[...]
