---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MQ_KEY>&location=Johnson%20City,%20TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 19:45:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Johnson
        City, TN"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Johnson
        City","adminArea5Type":"City","adminArea4":"Washington County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282033405","unknownInput":"","type":"s","latLng":{"lat":36.320614,"lng":-82.342538},"displayLatLng":{"lat":36.320614,"lng":-82.342538},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MQ_KEY>&type=map&size=225,160&locations=36.320614,-82.342538|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-759356649"}]}]}'
  recorded_at: Sun, 17 Jan 2021 19:45:34 GMT
recorded_with: VCR 6.0.0
