---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<FLICKR_KEY>&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&safe_search=1&text=Johnson%20City,%20TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":13632,"perpage":1,"total":"13632","photo":[{"id":"50836565763","owner":"9647120@N02","secret":"897ab4249a","server":"65535","farm":66,"title":"Trillium
        Falls","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 17 Jan 2021 22:17:55 GMT
recorded_with: VCR 6.0.0
