---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=10&location=Jackson%20Hole,%20WY&open_at=1611178170&term=thai%20restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer E62B1Q2P7F3b-L41y8AYYIfcIULhivIntp6gcZl676t2qpEYCzkCwpt0Qudt7Bn3khPiPAtgSVUJznTPrM_bbFR6knMVk2M4MNDyLUVdPJxXyYzJMeseLV-f_-cFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4986'
      X-Zipkin-Id:
      - 07334c86134b78ff
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-c6z2g; site=public_api_v3
      X-Proxied:
      - 10-69-166-32-uswest2bprod
      X-Extlb:
      - 10-69-166-32-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "yfUmMGZto902dvIVB_716Q", "alias": "teton-thai-teton-village",
        "name": "Teton Thai", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/70QsM4xOGzavKuDmjJ417g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/teton-thai-teton-village?adjust_creative=Dm5ft6BJp_2HQ7pD-hxdMw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Dm5ft6BJp_2HQ7pD-hxdMw",
        "review_count": 377, "categories": [{"alias": "thai", "title": "Thai"}], "rating":
        4.0, "coordinates": {"latitude": 43.5881688640188, "longitude": -110.822714321699},
        "transactions": [], "price": "$$", "location": {"address1": "7342 Granite
        Loop Rd", "address2": "", "address3": "", "city": "Teton Village", "zip_code":
        "83025", "country": "US", "state": "WY", "display_address": ["7342 Granite
        Loop Rd", "Teton Village, WY 83025"]}, "phone": "+13077330022", "display_phone":
        "(307) 733-0022", "distance": 14135.48202910841}, {"id": "dTvFRS9P87mMEy5EbyaPbA",
        "alias": "teton-thai-driggs", "name": "Teton Thai", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/88upOZCfc-E-X330Br2akA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/teton-thai-driggs?adjust_creative=Dm5ft6BJp_2HQ7pD-hxdMw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Dm5ft6BJp_2HQ7pD-hxdMw",
        "review_count": 195, "categories": [{"alias": "thai", "title": "Thai"}, {"alias"[...]
