---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=minutely,alerts&lat=31.1178&lon=-97.7311&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":31.1178,"lon":-97.7311,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611092083,"sunrise":1611062925,"sunset":1611100463,"temp":48.4,"feels_like":40.69,"pressure":1026,"humidity":87,"dew_point":44.71,"uvi":0.24,"clouds":90,"visibility":10000,"wind_speed":11.5,"wind_deg":20,"wind_gust":21.85,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.25,"3h":3.3}},"hourly":[{"dt":1611090000,"temp":48.4,"feels_like":38.1,"pressure":1026,"humidity":87,"dew_point":44.71,"uvi":0.25,"clouds":90,"visibility":10000,"wind_speed":16.11,"wind_deg":19,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.87,"rain":{"1h":0.19}},{"dt":1611093600,"temp":49.73,"feels_like":38.93,"pressure":1026,"humidity":87,"dew_point":46.02,"uvi":0.24,"clouds":94,"visibility":10000,"wind_speed":17.54,"wind_deg":21,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.87,"rain":{"1h":0.26}},{"dt":1611097200,"temp":49.66,"feels_like":38.21,"pressure":1026,"humidity":80,"dew_point":43.75,"uvi":0.05,"clouds":97,"visibility":10000,"wind_speed":17.74,"wind_deg":23,"weather":[{"id[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OW_KEY>&exclude=daily,current,minutely,alerts&lat=31.1178&lon=-97.7311&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":31.1178,"lon":-97.7311,"timezone":"America/Chicago","timezone_offset":-21[...]
